<mjml>
  <mj-head>

    <mj-attributes>
      <mj-text padding='0' color='#292a33' />
	  <mj-section padding='0' background-color='white' />
      <mj-class padding='0' />
      <mj-class name='span' padding='0 5px' line-height='2' color='white' font-size='12px' font-family='Arial Black,Arial Bold,Gadget,sans-serif'
                font-weight='700' align='center' />
      <mj-all font-family='Arial, Helvetica, sans-serif' />
    </mj-attributes>

    <mj-style>
      .button {
        opacity: 0;
      }
      .block:hover {
        background-color: #eaeaea;
      }
      * {
        transition: all 0.5s ease 0s;
      }
      .block:hover .button {
        opacity: 1;
      }
      .block:hover img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
      }
    </mj-style>

    <mj-breakpoint width='320px' />

  </mj-head>
  <mj-body>
    <mj-container  background-color='#f6f6f6' width='700px'>

      {% block header %}
        {% include './header.twig' %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block footer %}
        {% include './footer.twig' %}
      {% endblock %}

    </mj-container>
  </mj-body>
</mjml>