
<mj-section background-color='#26262b' padding='20px 4%'>

  <mj-column width='100%'>

    <mj-text color='white'
             font-size='10px'
             font-weight='bold'
             line-height='1.5'>
      С уважением, компания «Айдеко»
    </mj-text>

  </mj-column>

  <mj-column width='100%'>

    <mj-text color='#707286'
             font-size='10px'
             font-weight='bold'
             line-height='1.5'>
      Тел.:
      <a href='tel:+88005553340'
         style='color: white;
                text-decoration: none; border-bottom: 1px dotted;'>
        8 800 555-33-40
      </a>,
      <a href='tel:+794959873270'
         style='color: white;
                text-decoration: none; border-bottom: 1px dotted;'>
        +7 (495) 987-32-70
      </a>
    </mj-text>

  </mj-column>

  <mj-column width='100%'>

    <mj-text color='#707286'
             font-size='10px'
             font-weight='bold'
             line-height='1.5'>
      E-mail:
      <a href='mailto:quiz@ideco.ru'
         style='color: #f7a700; text-decoration: none;'>
        quiz@ideco.ru
      </a>

    </mj-text>

  </mj-column>

  <mj-column width='100%'>

    <mj-text font-size='10px'
             font-weight='bold'
             line-height='1.5'>

      <a href='#'
         style='color: #f7a700; text-decoration: none;'>
        quiz.ideco.ru
      </a>

    </mj-text>

  </mj-column>

</mj-section>

<mj-section background-color='#f6f6f6' padding='10px 2%' >

  <mj-column>

    <mj-text align='center'
             font-size='11px'
             font-weight='400'
             line-height='1.3'
             color='#bca6af'>Вы можете отказаться от получения рассылок на странице
      <a href='#'
         style='color: #f7a700; text-decoration: none;'>
        ideco.ru/company/news
      </a>

      , указав свой e-mail [%%FEmail%%] и нажав кнопку отписаться
    </mj-text>

  </mj-column>

</mj-section>

