
<mj-section background-color='#f6f6f6' padding='13px 10px'>

  <mj-column>
    <mj-text align='right'>

      <a href='#'
         style='color: black;
                text-decoration:none;'>Просмотреть веб-версию</a>
    </mj-text>
  </mj-column>

</mj-section>
