{% extends './_includes/_layout.twig' %}

{% block header %}
  {% include './_includes/header.twig' %}
{% endblock %}

{% block content %}

  <mj-section padding='0 5%'
              background-url='img/bg_head.jpg'
              background-size='cover'
              background-repeat='no-repeat'

              text-align='left'>
    <mj-column>
	  <mj-image width='204px'
                height='63px'
                src='img/logo.png'
                alt=''
                align='left'
                padding='57px 0 47px'></mj-image>
    </mj-column>
    <mj-column width='65%'>
      <mj-text font-weight='bold'
               align='left'
               padding-bottom='22px'
               color='white'
               font-size='28px'>Узнай свою роль в команде!</mj-text>

      <mj-text align='left'
               font-size='15px'
               line-height='1.4'
               font-weight='400'
               padding-bottom='38px'
               color='white'>Специально для вас, айтишники, мы подготовили небольшой тест, который расскажет о вашей роли в команде. Энергичный шейкер или вдумчивый мыслитель? Может быть, любопытный исследователь?</mj-text>

    </mj-column>

  </mj-section>

  <mj-section background-color='#fafafa'>

    <mj-column vertical-align='bottom'
               css-class='block'>

      <mj-image src='img/img_1.png'
                width='123px'
                height='174px'
                padding='60px 0 24px'></mj-image>

      <mj-text align='center'
               font-size='18px'
               line-height='1.33'
               color='#181519'
               font-family='Arial'
               font-weight='400'
               padding-bottom='37px'>Календарь</mj-text>

      <mj-button background-color='#f9af00'
                 padding='0'
                 width='100%'
                 color='#292a33'
                 line-height='1.3'
                 font-size='16px'
                 font-weight='700'
                 border-radius='0'
                 css-class='button'
                 font-weight='bold'
                 href='#'>Хочу выиграть!</mj-button>

    </mj-column>

    <mj-column vertical-align='bottom'
               css-class='block'>

      <mj-image src='img/img_2.png'
                width='164px'
                height='149px'
                padding='72px 0 37px'></mj-image>

      <mj-text align='center'
               font-size='18px'
               line-height='1.33'
               padding='0'
               padding-bottom='37px'
               font-family='Arial'
               font-weight='400'
               color='#181519'>Xbox One 1 Tb Elite</mj-text>

      <mj-button background-color='#f9af00'
                 padding='0'
                 width='100%'
                 color='#292a33'
                 line-height='1.3'
                 font-size='16px'
                 font-weight='700'
                 border-radius='0'
                 css-class='button'
                 font-family='Arial'
                 font-weight='bold'
                 href='#'>Хочу выиграть!</mj-button>

    </mj-column>

    <mj-column vertical-align='bottom'
               css-class='block'>

      <mj-image src='img/img_3.png'
                width='186px'
                height='155px'
                padding='69px 0 34px'></mj-image>

      <mj-text align='center'
               font-size='18px'
               line-height='1.33'
               padding='0'
               padding-bottom='37px'
               font-family='Arial'
               font-weight='400'
               color='#181519'>Свитшот с шаманом</mj-text>

      <mj-button background-color='#f9af00'
                 padding='0'
                 width='100%'
                 color='#292a33'
                 line-height='1.3'
                 font-size='16px'
                 font-weight='700'
                 border-radius='0'
                 css-class='button'
                 font-family='Arial'
                 font-weight='bold'
                 href='#'>Хочу выиграть!</mj-button>

    </mj-column>

  </mj-section>

  <mj-section padding='45px 7% 26px'>

    <mj-column>

      <mj-divider border-width='1px'
                  padding='0'
                  border-color='#dedede'></mj-divider>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7% 15px'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px;
                     line-height: 2;">10%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Добавление новых пользователей</mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7% 15px'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px; text-align: center;
                     line-height: 2;">15%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Переход на старшую редакцию продукта (переход на редакцию Enterprise Ideco ICS, переход на редакцию с технологиями Лаборатории Касперского)</mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7% 15px'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px; text-align: center;
                     line-height: 2;">25%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Стандартное продление</mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7%'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px 9px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px; text-align: center;
                     line-height: 2;">5%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-bottom='15px'
               padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Позднее продление</mj-text>

    </mj-column>

  </mj-section>

  <mj-section>

    <mj-column>

      <mj-divider border-width='1px'
                  padding='30px 7%'
                  border-color='#dedede'></mj-divider>

    </mj-column>

  </mj-section>

  <mj-section>

    <mj-column>

      <mj-text padding='0 0 20px 7%'
               font-size='20px'
               font-weight='bold'
               line-height='1.2'> Скидки для текущих клиентов:</mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7% 15px'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px;
                     line-height: 2;">10%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Добавление новых пользователей
        <a 	href='#'
              style='color: #c8c8c8;
               		text-decoration: none;
                    font-weight: bold;
                    padding-left: 10px;
                    font-size: 16px;'>&gt;</a>
      </mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7% 15px'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px;
                     line-height: 2;">15%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Переход на старшую редакцию продукта (переход на редакцию Enterprise Ideco ICS,
        переход на редакцию с технологиями Лаборатории Касперского)
        <a 	href='#'
              style='color: #c8c8c8;
               		text-decoration: none;
                    font-weight: bold;
                    padding-left: 10px;
                    font-size: 16px;'>&gt;</a>
      </mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7% 15px'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px; text-align: center;
                     line-height: 2;">25%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Стандартное продление

        <a 	href='#'
              style='color: #c8c8c8;
               		text-decoration: none;
                    font-weight: bold;
                    padding-left: 10px;
                    font-size: 16px;'>&gt;</a>

      </mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='0 7%'>

    <mj-column width='7%'>
      <mj-raw>
        <span style="background-color: #ed2142;
                     color: white; padding: 5px 9px;
                     font-family: 'Arial Black', Gadget, sans-serif;
                     font-weight: bold;
                     font-size: 12px; text-align: center;
                     line-height: 2;">5%</span>
      </mj-raw>
    </mj-column>

    <mj-column width='93%'>

      <mj-text padding-bottom='15px'
               padding-left='5px'
               line-height='1.5'
               color='#292a33'
               font-weight='400'
               font-size='14px'>Позднее продление

        <a 	href='#'
              style='color: #c8c8c8;
               		text-decoration: none;
                    font-weight: bold;
                    padding-left: 10px;
                    font-size: 16px;'>&gt;</a>
      </mj-text>

    </mj-column>

  </mj-section>

  <mj-section padding='32px 7% 36px'>

    <mj-column width='32%'>

      <mj-divider border-width='1px'
                  padding='20px 0'
                  border-color='#dedede'></mj-divider>
    </mj-column>

    <mj-column width='34%'>

      <mj-button background-color='#f9af00'
                 padding='0'
                 color='#292a33'
                 line-height='24px'
                 font-size='16px'
                 border-radius='0'
                 width='100%'
                 font-weight='bold'
                 css-class='btn'
                 href='#'>Call2Action</mj-button>

    </mj-column>

    <mj-column width='32%'>

      <mj-divider border-width='1px'
                  padding='20px 0'
                  border-color='#dedede'></mj-divider>
    </mj-column>

  </mj-section>

  <mj-section padding-bottom='15px' background-color='#f6f6f6'></mj-section>

  <mj-section padding='45px 7% 25px'>

    <mj-column>

      <mj-text align='center'
               font-size='20px'
               color='#8c8c8c'
               line-height='1.2'
               font-weight='bold'>Приглашаем на вебинар</mj-text>

      <mj-text align='center'
               line-height='1.2'
               font-size='20px'
               font-weight='bold'
               padding-bottom='33px'>Импортозамещение в России: есть ли реальные альтернативы иностранному ПО?</mj-text>

      <mj-text align='center'
               font-size='14px'
               line-height='1.57'
               font-weight='bold'>22 февраля 2016, 11:15 (Мск)</mj-text>

      <mj-text align='center'
               font-size='14px'
               line-height='1.57'
               font-weight='400'>Основная часть вебинара будет касаться практической стороны вопроса – обсуждения возможностей процесса миграции с зарубежных UTM-решений на Ideco ICS и сравнения возможностей нашего решения с конкурирующими.</mj-text>

    </mj-column>

  </mj-section>

  <mj-section>
    <mj-column width='28.5%'>

      <mj-button background-color='#f9af00'
                 padding='0 7% 42px'
                 color='#292a33'
                 line-height='1.3'
                 font-size='16px'
                 border-radius='0'
                 width='100%'
                 font-weight='bold'
                 css-class='btn'
                 href='#'>Записаться</mj-button>

    </mj-column>
  </mj-section>

{% endblock %}